.user-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.role-select {
  margin-top: 10px;
}

.verified-checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.custom-button-primary {
  width: 100%;
  margin-top: 20px;
}
