.subsidiary-card {
  cursor: pointer;
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subsidiary-card-img {
  height: 180px;
  object-fit: cover;
}

.subsidiary-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.subsidiary-card-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  min-height: 40px;
}

.subsidiary-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.subsidiary-card-text {
  margin: 0;
  color: #6c757d;
}

.subsidiary-mission-badge {
  background-color: black !important;
  color: white !important;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
